- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			section.block-1
				.copy R
				.dop__title elada
				.manin__title 
					h1 Armenian cheese with blue mold
			section.block-2
				img(src=img+"Asset 1 2.png", alt="")
				.container 
					.col
						h2 Lorem ipsum
						.hr
						p A taste that true cheese lovers will appreciate. With delicious dishes, salads or wine, this cheese will give unforgettable taste sensations.
						a(href="#") find out more
					.block-2__back--img
					.block-2__img
						img(src=img+"IMG_3876 1.png", alt="")
						a(href="#") Find out more
			section.block-3
				img(src=img+"Asset 5 1.png", alt="" class="img__bg--1")
				img(src=img+"Asset 4 1.png", alt="" class="img__bg--2") 
				.container 
					h2 Lorem ipsum
					p Appreciate the saturated taste of blue cheese, which is accompanied by a pleasant spiciness and saltiness.
					.block-3--dop
						img(src=img+"IMG_3878 1.png", alt="")
						.col 
							h2 Lorem ipsum
							.hr
							p Make your dinner special with good cheese and good wine.
							a(href="") explore more
					.flex 
						.block__yt
							<div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
								<img src="img/video 1.png" style="cursor:pointer" />
							</div>
							<div style="display:none">
								<iframe width="540" height="360" src="https://www.youtube.com/embed/yhS9LnDoo_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						.block__yt
							<div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
								<img src="img/video 2.png" style="cursor:pointer" />
							</div>
							<div style="display:none">
								<iframe width="540" height="360" src="https://www.youtube.com/embed/yhS9LnDoo_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
		include blocks/footer.pug
		include blocks/scripts.pug