- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			section.block-4
				img(src=img+"Layer 2.png", alt="" class="img__bg--1")
				img(src=img+"Layer 5.png", alt="" class="img__bg--2") 
				h1 our
				h2 cheese
				.big-hr
				.container
					.flex
						.columns
							.product
								img(src=img+"Layer 1 1.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
							.product
								img(src=img+"Layer 1 1.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
							
							.product
								img(src=img+"Layer 1 1.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
						.columns(class="item2")
							.product
								img(src=img+"IMG_20210327_182352 copy 2.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
							.product
								img(src=img+"Layer 4 copy 2.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
							.product
								img(src=img+"IMG_20210327_182352 copy 2.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
						.columns
							.product
								img(src=img+"Layer 11 4.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
							.product
								img(src=img+"Layer 11 4.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
							.product
								img(src=img+"Layer 11 4.png", alt="")
								a(href="#")
									h4 Cheese with noble mold "Classic"
		include blocks/footer.pug
		include blocks/scripts.pug