- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			.block--5
				img(src=img+"product-2.png", alt="")
			.container
				section.block-5
					.flex 
						.block__img 
							img(src=img+"IMG_20210327_182352 copy 2.png", alt="")
						.block__text 
							h1 Cheese with noble mold "Classic"
							p "Classic" blue cheese contains 100% pure pasteurized cow's milk, chemosis of bacterial origin, bacterial level of mesophilic lactic acid microorganisms, Penicillium roqueforti fungus culture, salt, calcium chloride thickener. The shelf life  is 6 months. Maintain a temperature range from 0-+ 6◦ C
							.block__items 
								.hr--dop
								p Net weight: <span>450g</span>
								.hr--dop
								p Maturation period: <span>at least 3 months</span>
								.hr--dop
								p Taste: <span>Delicate, saturated, salty, spicy, mushroom taste</span>
								.hr--dop
					h2 other products
					.other-products 
						.product
							img(src=img+"Layer 4 copy 2.png", alt="")
							a(href="#")
								h4 Cheese with noble mold "Classic"
						.product
							img(src=img+"Layer 1 1.png", alt="")
							a(href="#")
								h4 Cheese with noble mold "Classic"
						.product
							img(src=img+"Layer 11 4.png", alt="")
							a(href="#")
								h4 Cheese with noble mold "Classic"
		include blocks/footer.pug
		include blocks/scripts.pug